/*body {*/
/*    !*font-size: 62.5%;*!*/
/*    font-family: sans-serif,serif;*/
/*    background-image: url("../media/images/bg-hex.png");*/
/*    background-attachment: fixed;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

/*div.test {*/
/*    background:linear-gradient(to bottom, rgb(165,165,165), rgb(80,80,80));*/
/*    color: rgba(0, 0, 0, 0.59);*/
/*    width: 80%;*/
/*    height: 2000px;*/
/*    margin: 30px auto;*/
/*    overflow-x: hidden;*/
/*    box-shadow: 5px 5px 20px 50px rgba(10, 10, 10, 0.71);*/
/*    border-radius: 20px;*/
/*    position: relative;*/
/*    !*z-index: 1;*!*/
/*}*/
/*header {*/
/*    width: 100%;*/
/*    min-height: 700px;*/
/*    background-color: #00d693;*/
/*    float: left;*/

/*}*/
/*div.logo {*/
/*    width: 50%;*/
/*    height: 50px;*/
/*    background-color: #034b20;*/
/*    position: relative;*/
/*    margin: 10px auto;*/
/*    padding: 10px;*/
/*    overflow: hidden;*/
/*    transition-property: all;*/
/*    transition-duration: 0.4s;*/
/*    color: #c3ffc8;*/
/*}*/
/*.logo:hover {*/
/*    width: 60%;*/
/*    height: 410px;*/
/*    box-shadow: 0 0 20px 10px #b8ff78;*/

/*}*/


/*div.box1 {*/
/*    width: 300px;*/
/*    height: 300px;*/
/*    background-color: #ffad00;*/
/*}*/
/*div.box2 {*/
/*    width: 400px;*/
/*    height: 400px;*/
/*    background-color: #8aff3b;*/
/*    float: left;*/
/*    !*clear: both;*!*/
/*    !*display: inline-block;*!*/
/*}*/
/*div.box3 a{*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    background-color: rgba(46, 10, 8, 0.2);*/
/*    !*background-image: url("");*!*/
/*    display: inline-block;*/
/*    position: fixed;*/
/*    bottom: 10%;*/
/*    right: 50%;*/
/*    border-radius: 20px;*/
/*    text-align: center;*/
/*    line-height: 50px;*/
/*}*/

/*.wrapper {*/
/*    height: 400px;*/
/*    width: 400px;*/
/*    background-color: #9bffd4;*/
/*    text-align: center;*/
/*    line-height: 400px;*/
/*    position: relative;*/
/*}*/
/*.tooltip {*/
/*    display: block;*/
/*    width: 100px;*/
/*    height: 30px;*/
/*    position: absolute;*/
/*    background-color: #034b20;*/
/*    left: 105%;*/
/*    line-height: 30px;*/
/*    top: 50%;*/
/*    margin-top: -15px;*/
/*    visibility: hidden;*/
/*    color: #9bffd4;*/
/*    border-radius: 30px 20px 20px 30px;*/
/*}*/
/*.wrapper:hover .tooltip {*/
/*    visibility: visible;*/
/*}*/
/*.wrapper .tooltip::before {*/
/*    content: "";*/
/*    border-top: 10px solid transparent;*/
/*    border-right: 20px solid #5ae176;*/
/*    border-bottom: 10px solid transparent;*/
/*    display: block;*/
/*    position: absolute;*/
/*    right: 95%;*/
/*    top: 50%;*/
/*    margin-top: -10px;*/
/*}*/