
a {
    font-family: sans-serif,fantasy;
    text-decoration: none;
    color: #000000;
    font-size: 1.6em;
}
p, h2 {
    font-family: sans-serif,fantasy;
    font-size: 1.6em;
}
.button {
    background-color: #034b20;
    border-style: none;
    border-radius: 10px 20px;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
}
.button:hover {
    font-weight: bold;
    border-radius: 20px 10px;
    padding: 8px 18px;
    color: #034b20;
    background: radial-gradient(ellipse, rgb(0, 203, 0), rgb(3, 75, 32));
}
.navbutton {
     background-color: #00ba73;
     border-style: none;
     color: #034b20;
     text-decoration: none;
     padding: 15px 15px;
     font-size: 1.7em;
     cursor: pointer;
     transition-property: all;
     transition-duration: 0.4s;
 }

.navbutton:hover {
    color: #e1dfce;
    background: #034b20;
    box-shadow: 0 0 10px 3px #ffeac4;
    margin-left: 5px;
    margin-right: 5px;
    /*padding: 13px 23px;*/
}

/*   ----------   DROPDOWN  ---------        */
header .dropdown {
    position: absolute;
    top: 100%;
    right: 2.5%;
    display: inline-block;
    height: 50px;
    z-index: 2;
}
.btn-drop {
    background-color: #00ba73;
    border: none;
    color: #034b20;
    text-decoration: none;
    padding: 15px 35px 15px 15px;
    font-size: 1.7em;
    cursor: pointer;
}
.drop-content {
    text-align: initial;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #d8ffd7;
    max-height: 0;
    min-width: 250px;
    box-shadow: 0 8px 16px 3px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition-property: max-height;
    transition-duration: 0.5s;
}
.dropdown:hover .btn-drop {
    background-color: #034b20;
    color: #e1dfce;
    box-shadow: 0 0 10px 3px #ffeac4;
    transition-property: all;
    transition-duration: 0.4s;
}
.dropdown:hover .drop-content {
    /*min-height: 300px;*/
    max-height: 500px;
}
.drop-content a {
    color: #034b20;
    display: block;
    padding: 10px;
}
.drop-content a:hover {
    color: #d7ffd1;
    background-color: #034b20;
    transition-property: all;
    transition-duration: 0.3s;
}
 .dropdown .tooltip {
    border-top: 12px solid #034b20;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    position: absolute;
    display: block;
    top: 50%;
    margin-top: -6px;
    left: 77%;
    transition-property: all;
    transition-duration: 0.7s;
}
 .dropdown:hover .tooltip {
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 12px solid #03a94a;
    top: 12px
}
/*   ----------   DROPDOWN  ---------        */

p {
    font-family: sans-serif,fantasy;
    font-size: 1.6em;
    padding: 0;
    margin: 0;
}

li {
    font-size: 1.6em;
}



